services:
  nextjs-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4000:4000"
    env_file:
      - .env.local
    volumes:
      - .:/gibbs-react
      - node_modules:/gibbs-react/node_modules
    working_dir: /gibbs-react 
    command: ["npm", "run", "dev"]
  nextjs-prod-new:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env.local
    restart: always
    command: ["npm", "run", "start"]

volumes:
  node_modules:
